parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy\:\:expect\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/ArchTest.php

		-
			message: '#^Access to an undefined property Pest\\Mixins\\Expectation\<array\<string, array\<string, string\>\>\|null\>\:\:\$not\.$#'
			identifier: property.notFound
			count: 1
			path: tests/RetrieveTest.php

		-
			message: '#^Access to an undefined property Pest\\Mixins\\Expectation\<string\|false\|null\>\:\:\$not\.$#'
			identifier: property.notFound
			count: 1
			path: tests/RetrieveTest.php
